*{
    font-family: 'Noto Sans TC', sans-serif;
}

video {
    position: absolute;
}

body {
    overflow: hidden;
    background-color: black;
}

canvas {
    position: relative;
}

img {
    position: absolute;
}

#remoteVideos {
    position: relative;
}